.blog-post-card{  
background:white;
width:10px;
border-radius:8px;
text-align:center; 
padding:10%;  
}
.post-content{
  padding:10%;
}
.post-img{
width:300px;
border-bottom:50px solid black;
}
.post-title{
margin:10px 0;
color: #222;
}
.post-excerpt{
margin:10px 0;
color: #555;
}
.read-more{  
background-color: #5555;
padding:10px;
margin:5px 0;
display:inline-block;
border-radius:10px;

}
.read-more:hover{
text-decoration:underline;
background-color: #007bff;
padding:10px;
margin:5px 0;

}