body{
  background-color:beige;
}
a{
  text-decoration: none;
}
a:hover{
  color:red;
}
a:active{
  color:green;
}
a:visited{
  color:violet;
}
a:focus{
  outline:2px;
}
h1{
  text-align:center;
}